DATABASE_URL=postgresql://postgres........

APP_NAME= "Auto_MEP"
APP_VERSION= "0.0.2"
APP_DESCRIPTION= "Auto MEP using AI"
DEBUG= True
HOST= "0.0.0.0"
PORT= 8000

FILE_ALLOWED_TYPES='["text/plain","application/pdf","text/csv","application/vnd.ms-excel","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]'

FILE_ALLOWED_SIZE= 40

FILE_PATH= "app/my_files"

cooling_report_model = "...."

OPENAI_API_KEY="sk-proj-...."
GOOGLE_API_KEY="AQ....."

GROQ_API_KEY ="gsk_..."      

MODELS_JSON_PATH="app/core/llm/models_registry.json"
