APP_NAME= "Mega_AI_Agent"
APP_VERSION= "0.0.1"
DEBUG= True
HOST= "0.0.0.0"
PORT= 8000

FILE_ALLOWED_TYPES= '["text/plain", "application/pdf"]'
FILE_ALLOWED_SIZE= 10

FILE_PATH= "app/my_files"
FILE_DEFAULT_CHUNK_SIZE= 256000

MONGODB_URL= "mongodb://admin:admin@localhost:27007/?authSource=admin"
MONGODB_DATABASE= "Ai_mega"

MONGO_INITDB_ROOT_USERNAME=...
MONGO_INITDB_ROOT_PASSWORD=...


COLLECTION_PROJECT=  "projects"
COLLECTION_CHUNK=    "chunks"
COLLECTION_ASSET=    "assets"


OPENAI_API_KEY="..."
GOOGLE_API_KEY="..."
GROQ_API_KEY = "..."

PERPLEXITY_API_KEY="pplx-...."

MODELS_JSON_PATH="app/core/llm/models_registry.json"


# PINECONE Vector db
PINECONE_API_KEY="..."
PINECONE_ENVIRONMENT="us-east-1"
PINECONE_INDEX_NAME="rag-index"
PINECONE_DIMENSION= "384" 